@import "tailwindcss";

:root {
    --backgorund-dark: oklch(0.21 0 0);
    --open-white: rgba(250,250,250,0.9);
    --border-color: rgba(255,255,255,0.2);
}

html {
    font-family: 'Roboto', serif, system-ui;
    color: var(--open-white);
    background-color: var(--backgorund-dark);
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Manrope", sans-serif, system-ui;
    font-weight: 700;
    color: var(--open-white)
}

.title-font {
    font-family: "Manrope", sans-serif, system-ui;
}

p,
span,
a {
    letter-spacing: 0.050em;
}

.bg-dark {
    background-color: var(--backgorund-dark);
}

.text-color {
    @apply text-gray-300
}

.animated-underline {
    @apply relative inline-block hover:text-blue-300;

    &::after {
        @apply absolute left-0 bottom-0 h-0.5 bg-blue-300;
        content: '';
        width: 100%;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease-out;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}